@use '@/styles/helpers' as *;

// .burger-btn {
// 	color: var(--color-black);

// 	@include tablet-above {
// 		display: none;
// 	}

// 	@include tablet {
// 		position: relative;
// 		width: 24px;
// 		height: 16px;

// 		&__line,
// 		&::before,
// 		&::after {
// 			content: '';
// 			position: absolute;
// 			left: 0;
// 			height: 2px;
// 			width: 100%;
// 			background-color: currentcolor;
// 			border-radius: 5px;
// 			transition: all 0.3s;
// 		}

// 		&::before {
// 			top: 0;
// 		}
// 		&::after {
// 			bottom: 0;
// 		}
// 		&__line {
// 			top: 50%;
// 			transform: translateY(-50%) scaleX(1);
// 		}
// 	}

// 	[data-menu-open] & {
// 		.burger-btn__line {
// 			transform: translateY(-50%) scaleX(0);
// 		}

// 		&::before {
// 			top: 50%;
// 			transform: translateY(-50%) rotate(-45deg);
// 		}

// 		&::after {
// 			bottom: 50%;
// 			transform: translateY(50%) rotate(45deg);
// 		}
// 	}
// }

.burger-btn {
	@include square(48px);

	position: relative;
	border-radius: var(--border-radius-small);

	@include hover {
		background-color: var(--color-accent);
	}

	&::after {
		@include abs-center;

		content: '';
		width: 50%;
		height: 2px;
		background-color: var(--color-black);
		border-radius: 5px;
		box-shadow: 0 -8px, 0 8px;
	}
}
