@use '@/styles/helpers' as *;

.testimonials {
	display: flex;
	flex-direction: column;
	row-gap: fluid(110, 35, null, $tablet);
	padding-block: fluid(84, 30, null, $tablet);
	color: var(--color-white);
	background-color: var(--color-dark);
	border-radius: var(--border-radius-large);
	overflow: hidden;

	&__slider {
		width: 100%;
	}

	&__slider-item {
		&.swiper-slide {
			width: auto;
			max-width: fluid(606, 300);
		}

		&.swiper-slide > * {
			transition:
				transform 0.6s ease,
				opacity 0.8s ease;
		}

		&.swiper-slide-active > * {
			transform: scale(1);
		}

		&.swiper-slide-prev > *,
		&.swiper-slide-next > * {
			transform: scale(0.93);
			opacity: 0.7;
		}
	}

	// .testimonials__actions
	&__actions {
		width: 100%;
		max-width: 564px;
		display: flex;
		margin-inline: auto;
		justify-content: space-between;
		align-items: center;

		@include mobile {
			max-width: none;
			padding-inline: 20px;
		}
	}

	// .testimonials__arrow-button
	&__arrow-button {
		@include flex-center;
		@include square(48px);

		color: var(--color-white);
		transition-property: color;

		@include hover {
			color: var(--color-accent);
		}

		&[disabled] {
			color: rgb(255 255 255 / 30%);
			cursor: not-allowed;
		}
	}

	// .testimonials__arrow-icon
	&__arrow-icon {
		@include square(fluid(24, 20));
	}

	// .testimonials__arrow-icon--left
	&__arrow-icon--left {
		transform: rotate(180deg);
	}
}
